@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>Usuário Autenticado</h1>

<AuthorizeView>
    Olá @context.User.Identity?.Name!
</AuthorizeView>
