@page "/produtos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorCRUD.App.Data
@using Blazor_CRUD.App.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Blazor_CRUD.App.Data.ApplicationDbContext> DbFactory

<PageTitle>Produtos</PageTitle>

<h1>Lista de Produtos</h1>

<a class="btn mt-4 mb-4" href="/produtos/create" title="Adicionar">

    <img src="businesspackage_additionalpackage_box_add_insert_negoci_2335.png" alt="Produto" height="40" width="40" />

</a>

<QuickGrid Class="table table-bordered table-striped table-primary" Items="context.Produtos">
    @* <PropertyColumn Property="produtos => produtos.Cod_Barras" /> *@
    <PropertyColumn Property="produtos => produtos.Descricao" />
    <PropertyColumn Property="produtos => produtos.Id_categoria" Title="Categoria" /> 
    <PropertyColumn Property="produtos => produtos.Un_Medida"  Title="Un. Medida"/>
    <PropertyColumn Property="produtos => produtos.Quantidade" />
    <PropertyColumn Property="produtos => produtos.Id_fornecedor" Title="Fornecedor" />
  @*   <PropertyColumn Property="produtos => produtos.Peso_Medio" />
    <PropertyColumn Property="produtos => produtos.Peso_bruto" /> *@
    <PropertyColumn Property="produtos => produtos.Valor_Compra" Title="Vl. Compra" />
   @*  <PropertyColumn Property="produtos => produtos.Margem_Lucro" /> *@
    <PropertyColumn Property="produtos => produtos.Valor_Venda" Title="Vl. Venda" />
@*     <PropertyColumn Property="produtos => produtos.estoque_min" />
    <PropertyColumn Property="produtos => produtos.estoque_max" /> *@
    <PropertyColumn Property="produtos => produtos.Foto" />

    <TemplateColumn Context="produtos" Class="actions-column">

        <a class="btn mt-1 mb-1" href="@($"produtos/edit?id={produtos.Id}")" title="Editar">


            <img src="businesssettings_thebox_theproduct_negocio_2327.png" alt="Editar produto" height="30" width="30" />

        </a> |
        <a class="btn mt-1 mb-1" href="@($"produtos/details?id={produtos.Id}")" title="Detalhes">


            <img src="business_inventory_maintenance_product_box_boxes_2326.png" alt="Detalhes produto" height="30" width="30" />


        </a> |
        <a href="@($"produtos/delete?id={produtos.Id}")" title="Remover">

            <img src="32officeicons-3_89720.png" alt="Remover produto" height="30" width="30" />

        </a>

    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
