@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-inline-flex justify-content-center align-content-center">
        <a class="navbar-brand" href="">
            
            <img src="Diego Woolley.png" alt="Logomarca Text" height="40" width="40" />
            
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="me-3">

                    <img src="diagram-06_24511.png" alt="Home" height="30" width="30" />

                </span> Home
            </NavLink>
        </div>
        

        <AuthorizeView>
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="clientes">
                        <span class=" me-3 ">

                            <img src="User-80_icon-icons.com_57249.png" alt="Clientes" height="30" width="30"/>

                        </span> Clientes
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="produtos">
                        <span class="me-3">

                            <img src="stuffitboxproduct_stuffit_caj_2624.png" alt="Produto menu" height="30" width="30" />

                        </span> Produtos
                    </NavLink>
                </div>
               

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auth">
                        <span class="me-3">

                            <img src="security-protection-protect-key-password-login_108554.png" alt="Autenticação Requerida" height="30" width="30"/>

                        </span> Auth Requerida
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="me-3">

                            <img src="User-80_icon-icons.com_57249.png" alt="Usuário Logado" height="30" width="30" />

                        </span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="me-3">
                                 
                                <img src="Logout_37127.png" alt="Logout" height="30" width="30" />

                            </span> Logout
                        </button>
                    </form>
                </div>               

               
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="me-3">

                            <img src="Add_User-80_icon-icons.com_57380.png" alt="Registrar Usuário" height="30" width="30" />

                        </span> Registro de Usuário
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="me-3">

                            <img src="Login_37128.png" alt="Login" height="30" width="30"/>

                        </span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

