@page "/clientes/create"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUD.App.Data
@inject IDbContextFactory<Blazor_CRUD.App.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>

    <img src="Add_User-80_icon-icons.com_57380.png" alt="Adicionar Cliente" height="50" width="50" />

</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Clientes" OnValidSubmit="AddClientes" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label> 
                <InputText id="nome" @bind-Value="Clientes.Nome" class="form-control" /> 
                <ValidationMessage For="() => Clientes.Nome" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="documento" class="form-label">Documento:</label> 
                <InputNumber id="documento" @bind-Value="Clientes.Documento" class="form-control" /> 
                <ValidationMessage For="() => Clientes.Documento" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn me-3">
                
                <img src="savedisk_floppydisk_guardar_1543.png" alt="Salvar" height="30" width="30" />                

            </button>

            <a href="/clientes">

                <img src="go-back256_24856.png" alt="Voltar a Lista" height="30" width="30" />

            </a>

        </EditForm>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    private Clientes Clientes { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddClientes()
    {
        using var context = DbFactory.CreateDbContext();
        context.clientes.Add(Clientes);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/clientes");
    }
}
